.btn-default {
  background-color: var(--button-color);
  width: 18ch;
  height: 55px;
  margin: 8px;
  border-radius: 50px;
  border: none;
  text-align: center;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.btn-default:hover {
  background-color: var(--button-hover-color);
  transition: 0.1s ease;
  border: 2px solid var(--button-hover-border-color);
}

@media (max-width: 415px) {
  .btn-default {
    width: 16ch;
    height: 45px;
  }
}
